

form {
  margin: 20px;
}

input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 500px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.group {
  background-color: #ffff;

}

.group h2 {
  margin: 0 0 10px;
}
